﻿<h1>Movies list</h1>

<div class="row form-group">
    <div class="col-sm-12">
        <button class="btn" ui-sref="movies.new">Add movie</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Classification</th>
                <th>Director</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in $ctrl.movies">
                <td>{{ d.id }}</td>
                <td>{{ d.nombre }}</td>
                <td>{{ d.duracion }}</td>
                <td>{{ d.clasificacion }}</td>
                <td>{{ d.director.nombre }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>