﻿<h1>Movie director form</h1>

<form name="form" novalidate ng-submit="form.$valid && $ctrl.onSubmit()">
    <div class="form-group" ng-class="{'has-error': !form.name.$valid && (form.$submitted || form.name.$touched)}">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="$ctrl.model.nombre" required>
        <div ng-if="form.$submitted || form.name.$touched">
            <span ng-show="form.name.$error.required" class="help-block">This field is required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.director.$valid && (form.$submitted || form.director.$touched)}">
        <label for="name" class="control-label">Director</label>
        <select class="form-control" id="director" name="director" placeholder="Director" ng-model="$ctrl.model.directorId" required>
            <option ng-repeat="director in $ctrl.directors" ng-value="director.id">{{ director.nombre + ' ' + director.apellidos }}</option>
        </select>
        <div ng-if="form.$submitted || form.director.$touched">
            <span ng-show="form.director.$error.required" class="help-block">This field is required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.duration.$valid && (form.$submitted || form.duration.$touched)}">
        <label for="name" class="control-label">Duration (in minutes)</label>
        <input type="number" class="form-control" id="duration" name="duration" placeholder="Duration" ng-model="$ctrl.model.duracion" required min="1">
        <div ng-if="form.$submitted || form.duration.$touched">
            <span ng-show="form.duration.$error.required" class="help-block">This field is required.</span>
            <span ng-show="form.duration.$error.min" class="help-block">This minimum value is 1.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.qualification.$valid && (form.$submitted || form.qualification.$touched)}">
        <label for="name" class="control-label">Qualification (min: 1, max: 100)</label>
        <input type="number" class="form-control" id="qualification" name="qualification" placeholder="Qualification" ng-model="$ctrl.model.clasificacion" required min="1" max="100">
        <div ng-if="form.$submitted || form.qualification.$touched">
            <span ng-show="form.qualification.$error.required" class="help-block">This field is required.</span>
            <span ng-show="form.qualification.$error.min" class="help-block">This min value is 1.</span>
            <span ng-show="form.duration.$error.max" class="help-block">This maximum value is 100.</span>
        </div>
    </div>
    <button class="btn btn-default" ng-disabled="$ctrl.loading">{{ !$ctrl.loading ? 'Submit' : 'Keeping changes...'}}</button>
    <button type="button" class="btn" ng-disabled="$ctrl.loading" ui-sref="movies.list">Cancel</button>
</form>