﻿<h1>Movie director form</h1>

<form name="form" novalidate ng-submit="form.$valid && $ctrl.onSubmit()">
    <div class="form-group" ng-class="{'has-error': !form.name.$valid && (form.$submitted || form.name.$touched)}">
        <label for="name" class="control-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" ng-model="$ctrl.model.nombre" required>
        <div ng-if="form.$submitted || form.name.$touched">
            <span ng-show="form.name.$error.required" class="help-block">This field is required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.lastname.$valid && (form.$submitted || form.lastname.$touched)}">
        <label for="name" class="control-label">Lastname</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Lastname" ng-model="$ctrl.model.apellidos" required>
        <div ng-if="form.$submitted || form.lastname.$touched">
            <span ng-show="form.lastname.$error.required" class="help-block">This field is required.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error': !form.birthday.$valid && (form.$submitted || form.birthday.$touched)}">
        <label for="name" class="control-label">Birthday</label>
        <p class="input-group">
            <input type="text" class="form-control" id="birthday" name="birthday" placeholder="Birthday" uib-datepicker-popup is-open="birthday.opened" ng-model="$ctrl.model.nacimiento" close-text="Close" required/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="birthday.opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
        <div ng-if="form.$submitted || form.birthday.$touched">
            <span ng-show="form.birthday.$error.required" class="help-block">This field is required.</span>
            <span ng-show="form.birthday.$error.date" class="help-block">The field must be a date.</span>
        </div>
    </div>
    <div class="form-group" ng-class="{'has-error custom': !form.gender.$valid && (form.$submitted || form.gender.$touched)}">
        <label for="name" class="control-label">Gender</label>
        <div>
            <label class="checkbox-inline" style="padding-left: 0">
                <input type="radio" ng-model="$ctrl.model.sexo" name="gender" ng-value="0" required=""> Masculino
            </label>
            <label class="checkbox-inline">
                <input type="radio" ng-model="$ctrl.model.sexo" name="gender" ng-value="1" required> Femenino
            </label>
        </div>
        <div ng-if="form.$submitted || form.gender.$touched">
            <span ng-show="form.gender.$error.required" class="help-block">This field is required.</span>
        </div>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="$ctrl.loading">{{ !$ctrl.loading ? 'Submit' : 'Keeping changes...'}}</button>
    <button type="submit" class="btn" ng-disabled="$ctrl.loading" ui-sref="directors.list">Cancel</button>
</form>