﻿<h1>Movie statistics</h1>

<div class="form-group">
    <label for="best-movie" class="control-label">Best movie</label>
    <p class="form-control-static" id="best-movie">
        <span ng-if="!$ctrl.stats.bestMovie">Sin películas registradas</span>
        <span ng-if="$ctrl.stats.bestMovie">{{ $ctrl.stats.bestMovie.nombre }}, rating: {{ $ctrl.stats.bestMovie.clasificacion }}/100 </span>
    </p>
</div>
<div class="form-group">
    <label for="worst-movie" class="control-label">Worst movie</label>
    <p class="form-control-static" id="worst-movie">
        <span ng-if="!$ctrl.stats.worstMovie">Sin películas registradas</span>
        <span ng-if="$ctrl.stats.worstMovie">{{ $ctrl.stats.worstMovie.nombre }}, rating: {{ $ctrl.stats.worstMovie.clasificacion }}/100 </span>
    </p>
</div>
<div class="form-group">
    <label for="movies-rating" class="control-label">Movies rating average</label>
    <p class="form-control-static" id="movies-rating">{{ $ctrl.stats.movieRatingProm || 0 }}/100</p>
</div>
<button type="submit" class="btn" ui-sref="directors.list">Back</button>