﻿<h1>Movie director list</h1>

<div class="row form-group">
    <div class="col-sm-12">
        <button class="btn" ui-sref="directors.new">Agregar director</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Stats</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="d in $ctrl.directors">
                <td>{{ d.id }}</td>
                <td>{{ d.nombre }}</td>
                <td>{{ d.apellidos }}</td>
                <td>{{ d.nacimiento | date }}</td>
                <td>{{ d.sexo ? 'Female' : 'Male' }}</td>
                <td>
                    <button class="btn btn-primary" ui-sref="directors.movie-stats({ id: d.id })">
                        <i class="fa fa-film"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" ui-sref="directors.edit({ id: d.id })">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td>
                    <button class="btn btn-danger" ng-click="$ctrl.confirmDelete(d)">
                        <i class="fa fa-remove"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>